<h2>All Symptoms</h2>

<ul>
  <% @symptoms.each do |symptom| %>
  <li>
    <%= link_to symptom.name, symptom %>
  </li>
  <% end %>
</ul>

<p><%= link_to "Diseases", issues_path %></p>

<p><%= link_to "Patients", patients_path %></p>
