<h2><%= @issue.name %></h2><br>
<p><%= @issue.description %></p>

<p>Common symptoms include:</p>
<ul>
  <% @issue.symptoms.each do |symptom| %>
  <li>
    <%= symptom.name  %>
  </li>
  <% end %>
</ul>
