<h1>Welcome to House M.D.</h1>


<p><%= link_to "Please Indicate Your Symptoms", new_suffer_path %></p>


<p><%= link_to "Diseases", issues_path %></p>

<p><%= link_to "Symptoms", symptoms_path %></p>

<p><%= link_to "Patients", patients_path %></p>
