
<div class="container mt-4" >
  <div class="card w-75">
    <%= image_tag "house.jpg" %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to 'Please tell us your symptoms', new_suffer_path %></h5>
      <p class="card-text">Dr. House will help you diagnose your symptoms.</p>
    </div>
  </div>
</div>
