<h2>All Suffers</h2>

<ul>
  <% @suffers.each do |suffer| %>
  <li>
    Suffer: <%=  link_to suffer.id, suffer %>
  </li>
  <% end %>
</ul>


<p><%= link_to "Symptoms", symptoms_path %></p>

<p><%= link_to"Home", welcome_index_path %></p>
