<h2>Potential Illnesses You May Suffer From:</h2>
<ul>
    <% @suffer_issues.each do |issue| %>
  <li>
    <%= link_to issue.name, issue %>
    <br>Matching symptoms:
    <ul>
    <%@suffer_symptoms.each do |symptom| %>
    <li>
      <%= symptom.name %>
      </li>
  </li>
  <% end %>
<% end %>
</ul>
