<h2>Potential Illnesses You May Suffer From:</h2>
<ul>
    <% @suffer_issues.each do |issue| %>
  <li>
    <br><u><%= link_to issue.name, issue %></u>
    <br>Matching symptoms:
    <ul>
      <% @matching_symptoms = issue.symptoms & @suffer_symptoms %>
    <% @matching_symptoms.each do |symptom| %>
      <li>
        <%= symptom.name %>
      </li>
    </ul>
  </li>
  <% end %>
<% end %>
</ul>
