<h2>Possible Illnesses:</h2>

<div class="container mt-2">

  <ul class="list-group">
    <% @suffer_issues.each do |issue| %>
    <li class="list-group-item">
      <%= link_to issue.name, issue %>
        <ul class="list-group">
          Matching symptoms:
          <% @matching_symptoms = issue.symptoms & @suffer_symptoms %>
          <% @matching_symptoms.each do |symptom| %>
          <li class="list-group-item"><%= symptom.name %></li>
          <% end %>
        </ul>
    </li>
  <% end %>
  </ul>
</div>
